.pageTitle{
    composes: pageTitle from "../Articles/Articles.module.css";
}
.galleryBlock{
    composes: articlesBlock from "../Articles/Articles.module.css";
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    max-width: 1123px;
    margin: 10px auto;
}
