.pageTitle{
    composes: pageTitle from "../../Articles/Articles.module.css";
}
.galleryBlock{
    composes: articlesBlock from "../../Articles/Articles.module.css";
    padding-bottom: 0px;
}
.work{
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
}
.item{
    display: flex;
    margin: 40px 0;
}
.itemInner{
    margin-left: 40px;
}

.itemTitle{
    font-family: 'Montserrat', serif;
    font-size: 26px;
    font-weight: 600;
}
.itemMessage{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
    padding: 10px 0px;
}
.btnBLock{
    text-align: center;
    margin-top: 15px;
}
.itemButton{
    composes: add__btn from "../../Articles/Articles.module.css";
}